html {
    scroll-behavior: smooth;
    overflow-x: hidden
}

body {
    color: #666;
    font-size: 14px;
    line-height: 1.80857;
    font-weight: 400;
    overflow-x: hidden;
    font-family: Poppins, sans-serif
}

a {
    color: #1f1f1f;
    text-decoration: none!important;
    outline: 0!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0;
    font-weight: 400;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: 400;
    line-height: normal;
    color: #111;
    margin: 0
}

*, ::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: 0
}

li, ul {
    margin: 0;
    padding: 0;
    list-style: none
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px
}

a {
    color: #222;
    text-decoration: none;
    outline: 0!important
}

.btn, a {
    text-decoration: none!important;
    outline: 0!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

img {
    max-width: 100%;
    height: auto
}

:focus {
    outline: 0
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent!important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px
}

.form-control:focus {
    border-color: #fff!important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25)
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0
}

.padding_0 {
    padding: 0
}

.banner_bg_main {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.png);
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat
}

.cartkh {
    background: red;
    color: #fff;
    border-radius: 50%
}

.header_section_top {
    width: 100%;
    float: left;
    background-color: #2b2a29;
    clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%);
    height: auto;
    padding: 10px 0
}

.custom_menu {
    width: 100%;
    margin: 0 auto;
    text-align: center
}

.custom_menu ul {
    margin: 0;
    padding: 0;
    display: inline-block
}

.custom_menu li {
    float: left;
    font-size: 16px;
    color: #f1f1f1;
    padding: 6px 10px 0 10px
}

.custom_menu li a {
    color: #f1f1f1
}

.custom_menu li a:hover {
    color: #f26522
}

.logo_section {
    width: 100%;
    float: left
}

.logo {
    width: 100%;
    float: left;
    text-align: center;
    padding: 30px 0
}

.header_section {
    width: 100%;
    display: flex
}

.containt_main {
    display: flex
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 60px
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: .3s
}

.sidenav a:hover {
    color: #f26522
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px
}

@media screen and (max-height:450px) {
    .sidenav {
        padding-top: 15px
    }
    .sidenav a {
        font-size: 18px
    }
}

.toggle_icon {
    cursor: pointer;
    color: #fff;
    order: 2
}

.header_box {
    order: 2;
    display: flex
}

.dropdown {
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    margin-left: 30px;
    order: 2
}

.btn-secondary {
    color: #fff;
    background-color: #30302e;
    border-color: #30302e
}

.btn-secondary:hover {
    color: #fff;
    background-color: #30302e;
    border-color: #30302e
}

.main {
    flex: 1;
    margin: 0 30px;
    display: inline-block;
    order: 2
}

.login_menu {
    display: flex;
    text-align: right;
    float: right
}

.login_menu ul {
    margin: 0;
    padding: 0
}

.login_menu li {
    float: left;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    padding-left: 10px;
    padding-top: 4px
}

.login_menu li a {
    color: #fff
}

.login_menu li a:hover {
    color: #f26522
}

.padding_10 {
    padding-left: 10px
}

.lang_box {
    display: flex;
    float: right;
    background: #fff;
    border-radius: 5px;
    margin-right: 20px
}

a:hover {
    color: #f26522;
    text-decoration: underline
}

.banner_section {
    width: 100%;
    float: left;
    padding-bottom: 60px
}

.banner_taital {
    width: 100%;
    font-size: 60px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700
}

.buynow_bt {
    width: 170px;
    margin: 0 auto;
    padding-top: 30px
}

.buynow_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fff;
    background-color: #252525;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700
}

.buynow_bt a:hover {
    background-color: #f26522;
    color: #fff
}

#my_slider a.carousel-control-next {
    right: 0;
    top: 40px
}

#my_slider a.carousel-control-prev {
    left: 0;
    top: 40px
}

#my_slider .carousel-control-next, #my_slider .carousel-control-prev {
    width: 45px;
    height: 45px;
    background: rgb(242, 222, 172, .8);
    opacity: 1;
    font-size: 20px;
    color: #000;
    border-radius: 100px
}

#my_slider .carousel-control-next:focus, #my_slider .carousel-control-next:hover, #my_slider .carousel-control-prev:focus, #my_slider .carousel-control-prev:hover {
    color: #fff
}

.fashion_section {
    width: 100%;
    float: left;
    padding-bottom: 150px
}

.fashion_taital {
    width: 100%;
    font-size: 40px;
    color: #30302e;
    text-align: center;
    font-weight: 700
}

.fashion_section_2 {
    width: 100%;
    margin-top: 30px
}

.profile:hover {
    color: #7e0b0b
}

.a {
    color: #f1f1f1
}

.a:hover {
    color: #f26522
}

.box_main {
    width: 100%;
    background-color: #fff;
    height: auto;
    padding: 20px;
    box-shadow: 0 0 30px 10px #f0f0f0;
    margin-bottom: 20px
}

.shirt_text {
    width: 100%;
    font-size: 20px;
    color: #30302e;
    text-align: center;
    font-weight: 700;
    padding-bottom: 5px
}

.price_text {
    width: 100%;
    font-size: 16px;
    color: #f26522;
    text-align: center;
    margin: 0
}

.btn_main {
    width: 100%;
    display: flex
}

.buy_bt {
    float: left;
    width: 100%
}

.buy_bt a {
    width: 100%;
    font-size: 16px;
    color: #f26522;
    background-color: transparent;
    text-align: right;
    font-weight: 700
}

.buy_bt a:hover {
    background-color: transparent;
    color: #262626
}

.seemore_bt {
    width: 100%;
    float: right;
    text-align: right
}

.seemore_bt a {
    width: 100%;
    font-size: 16px;
    color: #262626;
    background-color: transparent;
    text-align: right
}

.seemore_bt a:hover {
    background-color: transparent;
    color: #f26522
}

#main_slider a.carousel-control-next {
    right: 615px;
    top: 105%
}

#main_slider a.carousel-control-prev {
    left: 615px;
    top: 105%
}

#main_slider .carousel-control-next, #main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    background-color: #30302e;
    opacity: 1;
    font-size: 30px;
    color: #fff
}

#main_slider .carousel-control-next:focus, #main_slider .carousel-control-next:hover, #main_slider .carousel-control-prev:focus, #main_slider .carousel-control-prev:hover {
    color: #fff;
    background-color: #f26522
}

.electronic_img {
    width: 100%;
    text-align: center;
    margin: 50px 0;
    min-height: 293px
}

#electronic_main_slider a.carousel-control-next {
    right: 615px;
    top: 105%
}

#electronic_main_slider a.carousel-control-prev {
    left: 615px;
    top: 105%
}

#electronic_main_slider .carousel-control-next, #electronic_main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    background-color: #30302e;
    opacity: 1;
    font-size: 30px;
    color: #fff
}

#electronic_main_slider .carousel-control-next:focus, #electronic_main_slider .carousel-control-next:hover, #electronic_main_slider .carousel-control-prev:focus, #electronic_main_slider .carousel-control-prev:hover {
    color: #fff;
    background-color: #f26522
}

.jewellery_section {
    width: 100%;
    float: left;
    padding-bottom: 50px
}

.jewellery_img {
    width: 100%;
    text-align: center;
    margin: 50px 0;
    min-height: 293px
}

#jewellery_main_slider a.carousel-control-next {
    right: 615px;
    top: 75%
}

#jewellery_main_slider a.carousel-control-prev {
    left: 615px;
    top: 75%
}

#jewellery_main_slider .carousel-control-next, #jewellery_main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    background-color: #30302e;
    opacity: 1;
    font-size: 30px;
    color: #fff
}

#jewellery_main_slider .carousel-control-next:focus, #jewellery_main_slider .carousel-control-next:hover, #jewellery_main_slider .carousel-control-prev:focus, #jewellery_main_slider .carousel-control-prev:hover {
    color: #fff;
    background-color: #f26522
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}

.footer_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto
}

.footer_logo {
    width: 100%;
    text-align: center
}

.input_bt {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    border-bottom: 1px solid #fff!important
}

.footer_menu {
    width: 100%;
    margin: 0 auto;
    text-align: center
}

.footer_menu ul {
    margin: 0;
    padding: 0;
    display: inline-block
}

.footer_menu li {
    float: left;
    font-size: 16px;
    color: #f1f1f1;
    padding: 20px 10px 0 10px
}

.footer_menu li a {
    color: #f1f1f1
}

.footer_menu li a:hover {
    color: #f26522
}

.location_main {
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center
}

.location_main {
    float: left;
    font-size: 16px;
    color: #fff;
    padding: 30px 30px 30px 30px
}

.location_main a {
    color: #fff
}

.location_main a:hover {
    color: #f26522
}

.copyright_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto
}

.copyright_text {
    width: 100%;
    float: left;
    color: #fff;
    text-align: center;
    font-size: 16px;
    margin: 20px 0
}

.copyright_text a {
    color: #fff
}

.copyright_text a:hover {
    color: #f26522
}


/* khodam*/

.banner_bg_mainn {
    width: 100%;
    float: left;
    background:linear-gradient(180deg,#e3b14d, #e3c40c) ;
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.banner_bg_mainnn {
    width: 100%;
    float: left;
    background:linear-gradient(180deg,#e3b14d, #fae102) ;
    box-shadow: 2px 2px 400px 30px rgba(0,0,0,.4) inset;
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.mainn{
    margin:150px 10px ;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 0 30px 10px #f5f1f1;
    background: #f5f1f1;
    padding: 10px;
}
.blockdir{
    width: 100%;
    display: flex;
    height: max-content;
    direction: rtl;
}
.cartkh{
    background: red;
    color: white;
    border-radius: 50%;
}
.spann{
    font-size: 2rem;
    color: red;
}
.fontt{
    font-size: 1.5rem;
}
.shishe{
    padding: 10px;
    border: 2px solid #aeb5a3;
    border-radius: 10px;
}
.imagee{
    height: 400px;
}
.imgtogle:hover * {
    margin: 0px 5px;
}
.imgtogle {
    position: relative;
}
.imgtogle *{
    margin: 0px -2rem;
    transition: margin 1s ease-in-out
}
div > .imgtogle{
    height: 7rem;
}
.imageee{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
